@import "tailwindcss";

h1{
    text-align: center;
}
ul .active{
    border-bottom: 2px solid red;
}
header .open{
    transform: translateX(150%);
    background-color: white;
    left: 0;
    padding: 20px;
    width: 60%;
    height: 100%;
    transition: 0.3s ease ;
}