@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap");
@import "tailwindcss";

@media (min-width: 768px) {
  ul li a.active {
    border-bottom: 3px solid red;
  }
}

header .open {
  transform: translateX(150%);
  background-color: white;
  left: 0;
  padding: 20px;
  width: 60%;
  height: 100%;
  transition: 0.3s ease;
}
html {
  font-family: "Kumbh Sans", sans-serif;
}
